@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#wat{
    font-family: 'Poppins';
    color: #000;
    font-size: 45px;
}

h1{
    font-family: 'Poppins';
}



button{
    border: none;
    background: none;
    font-family: "Poppins";
    font-size: 25px;
    color: #0f0;
}